<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<link type='text/css' rel='stylesheet' href='/stylesheets/style.min.css'/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="/js/gallery.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>
