<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link type='text/css' rel='stylesheet' href='/stylesheets/style.css'/>
    <link type='text/css' rel='stylesheet' href='/stylesheets/liquidcarousel.css'/>
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.liquidcarousel.pack.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>